<%- include('../partials/header', { title, active: '' }) %>
<div class="card"><div class="alert error"><%= message %></div><a class="btn secondary" href="/">Back to Dashboard</a></div>
<%- include('../partials/footer') %>
